.palindrome {
  background-image: url("../images/andy-holmes-unsplash.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 5px 10px 5px #888;
  color: #fff;
  margin: 2rem;
  padding: 1rem;
  a {
    color: #33ccff;
    &:visited {
      color: #cc00cc;
    }
    &:hover {
      color: #fff;
    }
  }
  button {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem;
    text-align: center;
  }
  header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  input {
    border-radius: 5px;
    display: block;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  p {
    margin-bottom: 0.25rem;
  }
  #button-input {
    background-color: #33ccff;
    &:hover {
      background-color: #cc00cc;
    }
  }
  #button-clear:hover {
    background-color: black;
    color: white;
  }
  #feedback-on-palindrome-input {
    display: inline-block;
    font-style: italic;
    margin-top: 0;
  }
  #palindrome-output {
    margin-top: 1rem;
  }
  @media screen and (max-width: 640px) {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
