.telephone {
  background-image: url("../images/katrin-hauf-unsplash.jpg"),
  linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  background-blend-mode: overlay;
  background-size: cover;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 10px #000;
  button {
    border-radius: 2px;
    background-color: #CCC;
  }
}
