* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  transition: all 0.3s ease;
  &:hover {
    color: #00F;
  }
}
button {
  display: inline-block;
  margin-right: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
  transition: 0.3s;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h1 {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
  }
}
label,
input,
p,
button,
a {
  font-size: 1.1rem;
}
input {
  border-radius: 5px;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
p {
  margin-bottom: 0.25rem;
}
.btn {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 0.3rem 0.5rem 0.3rem;
  transition: 0.4s;
  &:hover {
    background-color: paleturquoise;
  }
}
.button-input {
  background-color: paleturquoise;
  &:hover {
    background-color: turquoise;
  }
}
.button-clear:hover {
  background-color: paleturquoise;
}
.card {
  margin: 1rem;
  padding: 1rem;
  @media screen and (max-width: 800px) {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
.feedback {
  display: inline-block;
  font-style: italic;
  margin-top: 0;
}
.output {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
  border-radius: 2.5px;
  box-shadow: 5px 5px 5px #000;
  color: #000;
  margin-top: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  word-wrap: break-word;
  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.photo-credit {
  align-self: flex-end;
  color: #888;
  font-size: 1rem;
  font-style: italic;
  vertical-align: bottom;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@import "./palindrome";
@import "./roman";
@import "./rot";
@import "./telephone";
