* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: blue;
  &:visited {
    color: darkorchid;
  }
  &:hover {
    color: black;
  }
}
button {
  display: inline-block;
  margin-right: 1rem;
  transition: 0.3s;
}
header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h1 {
    font-family: "Luckiest Guy", sans-serif;
    font-size: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
  }
}
label,
input,
p,
button,
a {
  font-size: 1.1rem;
}
input {
  border-radius: 5px;
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
p {
  margin-bottom: 0.25rem;
}
.card {
  @media screen and (max-width: 640px) {
    margin: 0.5rem;
    padding: 0.5rem;
  }
}
.feedback {
  display: inline-block;
  font-style: italic;
  margin-top: 0;
}
.output {
  margin-top: 1rem;
}
.photo-credit {
  color: #888;
  font-size: 1rem;
  font-style: italic;
  vertical-align: bottom;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: 640px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@import "./palindrome";
